#Database
SQLITE_URL: str = sqlite:///./sql_database.db
MONGO_URL=mongodb+srv://<username>:<db_password>@<cluster_url>.mongodb.net/?appName=<appName>
DATABASE_NAME=helmet_db
VIOLATION_COLLECTION=violations

# Initial Admin Account
FIRST_ADMIN_USERNAME=your-admin-username
FIRST_ADMIN_EMAIL=your-admin-gmail@gmail.com
FIRST_ADMIN_PASSWORD=your-admin-pssword

# JWT
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=access_token_expire_minutes

# AI & System Configuration
MODEL_PATH=your_model_path
VIOLATION_THRESHOLD=your_violation_threshold
ALERT_COOLDOWN=your_alert_cooldown
VIOLATION_DIR=your_violation_dir

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email (mô phỏng)
MAIL_SERVER=your-mail-server
MAIL_USERNAME=your-mail-username
MAIL_PASSWORD=your-mail-password
MAIL_PORT=your-mail-port
MAIL_FROM=your-mail

# FRONTEND
FRONTEND_URL=your-frontend-url
FRONTEND_VERIFY_PATH=your-verify-path
FRONTEND_RESET_PASSWORD_PATH=your-reset-password-path